<h1>Pages#contact</h1>

<p><a href="mailto:alexcalaca@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>


<div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.6199598192534!2d-49.280451185143434!3d-16.69589055021956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef14965b8551f%3A0xf1132d125bfcdeea!2sCROGO+-+Conselho+Regional+de+Odontologia+de+Goi%C3%A1s!5e0!3m2!1spt-BR!2sbr!4v1523981611290" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
